[submodule "qtredmine"]
	path = qtredmine
	url = https://github.com/fathomssen/qtredmine.git
[submodule "open-iconic"]
	path = open-iconic
	url = https://github.com/iconic/open-iconic.git
[submodule "qxtglobalshortcut5"]
	path = qxtglobalshortcut5
	url = https://github.com/fathomssen/qxtglobalshortcut5.git
